.subhero{
  .masthead{
    margin-bottom: 15px;
  }
}

.deal-module {
  margin-top: 30px;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: box-shadow 2s;
  margin-bottom: 30px;
}

.deal-title{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea7e94+0,ec1944+40,ec1944+40,ec1944+53,ec1944+100 */
  background: #6CB33F; /* Old browsers */
  color: #fff;
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
  min-height: 100px;
}
.price {
  text-indent: 0;
  color: #000;
  padding-top: 16px;
  position: relative;

  .tens {
    font-size: 20px;
    position: absolute;
    right: -32px;
    top: 22px;
  }

  .month {
    font-size: 20px;
    border-top: 2px solid #CC0000;
    position: absolute;
    bottom: 68px;
    right: -37px;
    line-height: 14px;
  }
}

.write-up-container{
  height: 100px;
}
.container p.write-up {
  font-size: 14px;
  line-height: 17px;
  color: #333;
}

.sub-title{
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  background: #ecf0f1;
  min-height: 450px;
  border:1px solid darkgrey;
  a {
    text-decoration: none !important;
  }
}

.abv-fold-feature-cell{
  border-top: solid lightgray 2px;
  border-bottom: solid lightgray 2px;
  border-left: solid lightgray 2px;
  padding: 10px;
  height: 160px;
  &:last-child{
    border-left: solid lightgray 2px;
    border-right: solid lightgray 2px;
  }
}

.learn-more-button {
  background: #6CB33F;
  -webkit-transition: box-shadow .2s;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  position: absolute;
  bottom: 40px;
  margin: auto;
  left: 0;
  right: 0;
  width: 80%;
}

.header-cta{
  margin-bottom: 20px;
}

.btn{
  .brands-btn{
    margin-top: 10px;
  }
}

.page-template-homesdotcom header.page-head .phone .phone-number{
  font-size: 2em;
}

body h2.sectionHeadline{
  color: #333333;
}

#ypFooterButton{
  display: inline-block;
}

@-webkit-keyframes redPulse {
  from { -webkit-box-shadow: 0 0 9px #F00; }
  50% { -webkit-box-shadow: 0 0 18px #FFF; }
  to { -webkit-box-shadow: 0 0 9px #F00; }
}

#testing.flasher {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.disclaimer-holder p{
  font-size: 10px;
  line-height: 10px;
}

.icon-holder{
  text-align: center;
  margin-top: 30px;
}
.enlivenem{
  width: 100%;
}

.search-button{
  width: 72px;
}

.btn.btn-blue{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,207cca+49,2989d8+50,1e5799+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 49%,#2989d8 50%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
  color: #fff;
  padding-left: 60px;
  padding-right: 60px;
}

.service-head p{
  text-align: center;
}


footer{
  background-color: #6CB33F;
}

.border-styler{
  border-top: 4px solid #ff9933;
  padding-top: 25px;
}

#connect-your-business{
  text-align: center;
}

.termsHolder{
  font-size: 10px;
}

.service{
  padding-top: 7px;
  border-radius: 5px;

  &:hover{
    color: black;
    background: rgba(189, 195, 199, .3);
    -webkit-transition: .33s all ease-in-out;
    transition: .33s all ease-in-out;
  }
  p{
    padding: 7px;
  }
}

.inside-full-height{
  a{
    color: black;
    &:hover{
      color: #666;
      text-decoration: none;
    }
  }
}

.bottom-border{
  border-bottom: #6CB33F 4px solid;
  display: inline-block;
  width: 100%;
}

.brand-intro.hero-holder{
  padding-left: 0px;
}

#symantec-seal{
  display: inline;
}

#crumbs{
  display: inline-block;
}

.resultsAddress{
  text-decoration: underline;
  font-weight: bolder;
}

#homeSearch{
  width: 70%;
  text-align: center;
  height: 45px;
}

p {
  font-size: 18px;
  line-height: 26px;

  .tagline{
    text-align: center;
  }
}

.brand-intro{
  padding-left: 0px;
}

select#testing{
  -webkit-appearance: menulist-button;
}

#myBtn{
  background: #6CB33F;
  background-color: #6CB33F;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0px;
  border-color: transparent;

  &:hover{
    outline: none;
    border-color: 1px solid transparent;
  }
}

.results-headline{
  font-size: 1.33em;
}

.cta-button{
  background-color: #f93;
  border: none;
  padding: 15px;
  color: white;
  line-height: 45px;
}

.cta-button-holder{
  text-align: center;
  padding: 30px;
}

.art-wrap a{
  text-decoration: none;
  color: #fff;
}

.price-strap{
  margin-bottom: 15px;
}


.row.service-cta{
  margin-bottom: 20px;
}

#address-autocomplete{
  width: 50%;
  background-size: 39px 297px;
  border: 1px solid #d8d8d8;
}

.page-template-edp-responsive{
  .brand {
    max-width: 200px;
  }

  .banner-msg h2{
    text-align: center;
  }
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

@media (min-width: 720px) {
  .results-headline {
    font-size: 2.33em;
  }
}

/*  Custom Variables */
$btn-terms-color:              #fff !default;
$btn-terms-bg:                 #6CB33F !default;
$btn-terms-border:             darken($btn-terms-bg, 5%) !default;