/*Variables start*/
$white: #fff;
$green: #6cb33f;
$dark: #333545;
$table-border-color: #e5e5e5;
$text-color: #484848;
$thead-text-color: #98a2b0;

$red: #ff0000;
/*Variables end*/

section {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.3px;
  color: $text-color;
}
h1 {
  color: #ff9933;
  text-transform: uppercase;
}
h2 {
  font-family: gotham_boldregular;
  margin-top: 0;
}
a:hover,
a:focus,
a:active {
  color: $text-color;
  text-decoration: none;
}
section {
  padding: 15px 0 25px 0;
}
.btn-success {
  max-width: 90%;
  width: 90%;
  margin-bottom: 10px;
  font-size: 15px;
}
.disclaimer {
  color: $green;
  cursor: pointer;
}
.land-desclaimer {
  text-align: center;
}
.click-detail {
  color: $red;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.instructions-gwp {
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  bottom: 30px;
  left: 0;
  right: 0;
  padding: 25px;
  span {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
  }
}
.price-value {
  font-size: 56px;
  line-height: 60px;
  color: $green;
  font-family: gotham_boldregular;
  font-weight: 500;
}
.providers-table {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
  background-color: $white;
  margin: 0px 0 30px 0;
  table-layout: fixed;
  tr > td {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.7px;
  }
  .thead-row {
    text-transform: uppercase;
    background-color: $dark;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: $thead-text-color;
    th {
      border-bottom: 0;
      padding: 8px 25px;
      position: relative;
      text-align: center;
      color: $white;
      &:after {
        content: '';
        width: 1px;
        height: 52%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #4a4d63;
      }
      &:first-child:after {
        display: none;
      }
    }
  }
  tbody  > {
    tr > td {
      position: relative;
      padding: 35px 15px;
      color: $text-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;
      &:after {
        content: '';
        width: 1px;
        height: 90%;
        background-color: $table-border-color;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
      &:first-child:after {
        display: none;
      }
      &:first-child {
        text-align: center;
        vertical-align: middle;
        img {
          width: auto;
          height: auto;
          margin: 0 auto;
        }
      }
      &:last-child {
        text-align: center;
      }
      .disclaimer-row {
        display: none;
        margin-top: 20px;
      }
    }
    tr.hidden-md td {
      border-top: 0;
    }

  }
  .slide-cell {
    cursor: pointer;
    .middle-text {
      display: block;
      position: relative;
      padding-right: 15px;
      float: left;
      width: calc(100% - 65px);
    }
    &.open {
      .arrow-up:after {
        /*border-bottom: 0;
        border-top: 7px solid #333545;*/
        transform: rotate(180deg);
      }
    }
    & > div {
      display: flex;
      align-items: center;
    }
  }
  .terms-content {
    display: none;
  }
  &.terms-table {
    table-layout: fixed;
    tbody > tr > td {
      vertical-align: top;
      padding: 25px 25px;
      &:after {
        height: 95%;
      }
      &:last-child {
        text-align: left;
      }
    }
  }
}
@media (min-width: 1200px) {
  .providers-table .provider-th {
    width: 25%;
  }

  .providers-table .price-th {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .providers-table tbody>tr>td {
    display: block;
  }
  .btn-success {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
