/*body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 64px
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 21px;
}*/

#internetCityInteractivePage .wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 13.6% auto 9%;
  grid-template-columns: 100vw;
}

//header

#internetCityInteractivePage .header {
  display: flex;
  margin: auto;
}

#internetCityInteractivePage .header .logo {
  width: 220px;
  height: 58px;
  margin: auto 18px;
}

//side bar

#internetCityInteractivePage .side-progressbar {
  display: flex;
  justify-content: center;
}

#internetCityInteractivePage .progressbar-items {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#internetCityInteractivePage .side-progressbar .item {
  margin-bottom: 50%;
  width: 68px;
  height: 68px;
}

#internetCityInteractivePage .side-progressbar .item:last-child {
  margin-bottom: 0;
}

#internetCityInteractivePage .line {
  position: absolute;
  right: 50%;
  background-image: url("../images/interactive/ProgressLine.svg");
  width: 4.5px;
  height: 87.9%;
  z-index: -1;
}

#internetCityInteractivePage .side-progressbar .people {
  background-image: url("../images/interactive/Progress1Green.svg");
}

#internetCityInteractivePage .side-progressbar .devices {
  background-image: url("../images/interactive/Progress2Gray.svg");
}

#internetCityInteractivePage .side-progressbar .frequency {
  background-image: url("../images/interactive/Progress3Gray.svg");
}

#internetCityInteractivePage .side-progressbar .final {
  background-image: url("../images/interactive/Progress4Gray.svg");
}

//Content

#internetCityInteractivePage .content {
  display: grid;
  grid-template-columns: 15.5% auto;
}

#internetCityInteractivePage .section {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0 6%;
  align-items: end;
}

#internetCityInteractivePage .section .gauge-container {
  height: 100%;
  width: 30%;
}

#internetCityInteractivePage .gauge {
  position: relative;
  background: url("../images/interactive/Gauge.svg") no-repeat;
  height: 100%;
}

#internetCityInteractivePage .gauge::after {
  content: "";
  display: block;
  background: url("../images/interactive/GreenFilling.svg") no-repeat;
  width: 100%;
  height: 100px;
}

#internetCityInteractivePage .gauge .gauge-filling {

}

//recommendation

#internetCityInteractivePage .section .recommendation {
  height: 24%;
  padding-bottom: 16%;
}

#internetCityInteractivePage .section .recommendation-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../images/interactive/GreenBorder.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

//footer

.interactive-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  background-color: rgb(238, 238, 238);
}

.interactive-footer button {
  padding: 3px 45px;
  cursor: pointer;
  font-size: 24px;
  color: rgb(225, 225, 225);
  background-color: rgb(132, 177, 74);
  border: none;
  border-radius: 8px;
}
