@charset "UTF-8";
/*Variables start*/
/*Variables end*/
/*Fonts Start*/
/*Fonts end*/
@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/roboto-regular.eot");
  src: url("../fonts/roboto-regular.eot") format("embedded-opentype"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.svg#RobotoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold.svg#RobotoBold") format("svg"); }

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot") format("embedded-opentype"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium.svg#RobotoMedium") format("svg"); }

@font-face {
  font-family: 'RobotoBlack';
  src: url("../fonts/RobotoBlack.eot");
  src: url("../fonts/RobotoBlack.eot") format("embedded-opentype"), url("../fonts/RobotoBlack.woff") format("woff"), url("../fonts/RobotoBlack.ttf") format("truetype"), url("../fonts/RobotoBlack.svg#RobotoBlack") format("svg"); }

@font-face {
  font-family: 'GothaProNarBol';
  src: url("../fonts/GothaProNarBol.eot");
  src: url("../fonts/GothaProNarBol.eot") format("embedded-opentype"), url("../fonts/GothaProNarBol.woff") format("woff"), url("../fonts/GothaProNarBol.ttf") format("truetype"), url("../fonts/GothaProNarBol.svg#GothaProNarBol") format("svg"); }

section {
  font-family: "RobotoRegular";
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1.3px;
  color: #484848; }
  section h2 {
    font-family: "GothaProNarBol"; }

h2 {
  font-size: 30px;
  letter-spacing: 1.1px;
  color: #333545;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
  margin-top: 0; }
  h2:after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: #c6c6c6;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0px; }

a:hover,
a:focus,
a:active {
  color: #484848;
  text-decoration: none; }

section {
  padding: 50px 0 45px 0; }
  section p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.3px; }

.green-text {
  color: #6cb33f; }

.btn-green, .btn-orange {
  font-family: "RobotoBlack";
  font-size: 16px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  padding: 14px 39px; }
  .btn-green.btn-big, .btn-orange.btn-big {
    min-width: 280px; }
  .btn-green:hover, .btn-green:active, .btn-green:focus, .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: #558d32;
    color: #fff; }

.btn-green-glow {
  -webkit-box-shadow: 0 7px 13px 0 #cdffad;
          box-shadow: 0 7px 13px 0 #cdffad;
  padding-left: 65px;
  padding-right: 65px; }

.btn-orange {
  -webkit-box-shadow: 0 6px 13px 0 #ffe4c8;
          box-shadow: 0 6px 13px 0 #ffe4c8;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px; }
  .btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background-color: #ff8000; }

.btn-white,
.brand-list {
  font-family: "RobotoBold";
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #808080;
  border: solid 1px #b0b0b0;
  background-color: rgba(117, 117, 117, 0.06);
  padding: 13px 25px;
  -webkit-transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s, color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s, color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background-color ease-in-out 0.15s, color ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background-color ease-in-out 0.15s, color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }

.btn-white:hover, .btn-white:active, .btn-white:focus {
  color: #50515d;
  border-color: transparent;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
          box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07); }

.brand-list:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #b0b0b0; }

.form-control::-webkit-input-placeholder {
  color: #fff;
  text-align: left; }

.form-control::-moz-placeholder {
  color: #fff;
  text-align: left; }

.form-control:-ms-input-placeholder {
  color: #fff;
  text-align: left; }

.form-control:-moz-placeholder {
  color: #fff;
  text-align: left; }

.form-group {
  margin-bottom: 0; }

/*Intro section start*/
.inner-title {
  color: #fff;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  width: 85%; }

.inner-text {
  text-align: center;
  color: #d7d7d7;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1.2px;
  width: 65%;
  margin-bottom: 3vh;
  font-weight: 500; }

.intro-section {
  background-image: url(../images/intro-img.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center center;
  background-size: cover;
  position: relative;
  max-height: 500px;
  padding: 0; }
  .intro-section .darken-bg {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    left: 0; }
  .intro-section .inner-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 7vh;
    padding-bottom: 2vh;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0; }

.zip-code {
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 14px 23px;
  color: #fff;
  height: 51px; }

.form-inline .form-control.zip-code {
  width: 180px; }

.zip-code-form .btn-green {
  margin-left: 10px;
  padding: 14px 25px; }

.error-message {
  color: #ff0000; }

.process-status {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 15px; }

.loader {
  margin-right: 15px; }

.loading {
  background: url("../images/loader.svg");
  width: 32px;
  height: 32px; }

.breadcrumb {
  background-color: transparent; }
  .breadcrumb li span {
    font-family: "RobotoRegular";
    font-weight: 900;
    letter-spacing: 0.3px;
    color: #6cb33f; }
    .breadcrumb li span.active {
      color: #fff; }
    .breadcrumb li span:after {
      content: '>';
      right: -7px;
      position: relative; }
  .breadcrumb li + li:before {
    content: ''; }
  .breadcrumb li:last-child span:after {
    content: ''; }

/*Intro section end*/
.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 3px; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background-color: #f0f0f0; }

.slick-prev:before, .slick-next:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border: solid 1.6px #b8b8b8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-bottom: 0;
  border-left: 0;
  margin: 0 14px; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    margin: 0 22px; }

.slick-next {
  right: 0; }

/*Map Section Start*/
.map {
  margin-top: 30px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
          box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07); }

/*Map Section End*/
/*Offer section start*/
.best-offers-tab-section {
  background-color: #f7f7f7; }

.top-providers-section {
  background-color: #f7f7f7; }

.offer-section {
  /*.slick-active.slick-center {
    transform: scale(1.4);
  }*/ }
  .offer-section .providers-slider {
    margin-bottom: 0;
    margin-bottom: 0;
    padding: 0px 60px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px; }
    .offer-section .providers-slider .slick-list {
      margin-right: auto;
      margin-left: auto; }
  .offer-section .slick-slide {
    padding: 0 30px; }

.provider-count {
  font-family: "RobotoBold";
  color: #333545;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; }

.zip-code-form {
  text-align: center;
  margin: 0 auto;
  display: table; }
  .zip-code-form .form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

/*Offer section end*/
/*Tab Section start*/
.show-more {
  display: none;
  float: right; }
  .show-more.arrow-up {
    display: inline-block;
    padding-right: 15px;
    position: relative; }

.arrow-up:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #333545;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.providers-table {
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
          box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
  background-color: #fff;
  margin: 0px 0 30px 0; }
  .providers-table tr > td {
    font-family: "RobotoMedium";
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.7px; }
  .providers-table .big-text {
    font-family: "RobotoBlack";
    font-size: 26px;
    line-height: 22px;
    font-weight: 900;
    letter-spacing: 0.9px;
    margin-top: 5px;
    display: block; }
    .providers-table .big-text .number {
      font-size: 36px; }
  .providers-table .middle-text {
    font-family: "RobotoBlack";
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.8px; }
  .providers-table .thead-row {
    color: #fff;
    text-transform: uppercase;
    background-color: #333545;
    font-family: "RobotoRegular";
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #98a2b0; }
    .providers-table .thead-row th:first-child {
      font-size: 18px;
      letter-spacing: 0.6px;
      color: #fff;
      text-align: center; }
    .providers-table .thead-row th {
      border-bottom: 0;
      padding: 8px 25px;
      position: relative;
      font-family: "RobotoBold"; }
      .providers-table .thead-row th:after {
        content: '';
        width: 1px;
        height: 52%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #4a4d63; }
      .providers-table .thead-row th:first-child:after {
        display: none; }
  .providers-table .thead-simple th:first-child {
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #98a2b0; }
  .providers-table tbody > tr > td {
    position: relative;
    padding: 44px 25px;
    color: #484848;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
    border-bottom: 0px; }
    .providers-table tbody > tr > td:after {
      content: '';
      width: 1px;
      height: 40%;
      background-color: #e5e5e5;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
    .providers-table tbody > tr > td:first-child:after {
      display: none; }
    .providers-table tbody > tr > td:first-child {
      text-align: center; }
      .providers-table tbody > tr > td:first-child img {
        max-width: 130px;
        max-height: 50px;
        width: auto;
        height: auto;
        margin: 0 auto; }
    .providers-table tbody > tr > td:last-child {
      text-align: center; }
  .providers-table tbody > tr.hidden-md td {
    border-top: 0; }
  .providers-table tbody > .hidden-row {
    background-color: #f7f7f7; }
    .providers-table tbody > .hidden-row td {
      border-top: 0;
      padding: 0;
      border-bottom: 1px solid #ddd;
      -webkit-transition: border-bottom 400ms ease;
      transition: border-bottom 400ms ease; }
      .providers-table tbody > .hidden-row td:after {
        display: none; }
      .providers-table tbody > .hidden-row td .hidden-content {
        display: none;
        padding: 20px 25px; }
    .providers-table tbody > .hidden-row .plan-description {
      margin: 0;
      padding: 0 0 0 12px; }
      .providers-table tbody > .hidden-row .plan-description li {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.7px;
        position: relative;
        margin-bottom: 3px;
        text-align: left; }
        .providers-table tbody > .hidden-row .plan-description li:before {
          content: '●';
          color: #6cb33f;
          position: absolute;
          left: -12px;
          font-size: 10px; }
    .providers-table tbody > .hidden-row.open td {
      border-bottom: 1px solid #fff; }
  .providers-table tbody > tr.hidden-md.hidden-lg td {
    padding: 20px 20px 27px; }
  .providers-table .slide-cell {
    cursor: pointer; }
    .providers-table .slide-cell .middle-text {
      display: block;
      position: relative;
      padding-right: 15px;
      float: left;
      width: calc(100% - 65px); }
    .providers-table .slide-cell.open .arrow-up:after {
      /*border-bottom: 0;
        border-top: 7px solid #333545;*/
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .providers-table .slide-cell > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .providers-table .terms-content {
    display: none; }
  .providers-table.terms-table {
    table-layout: fixed; }
    .providers-table.terms-table tbody > tr > td {
      vertical-align: top;
      padding: 25px 25px; }
      .providers-table.terms-table tbody > tr > td:after {
        height: 95%; }
      .providers-table.terms-table tbody > tr > td:last-child {
        text-align: left; }

.terms-slider .slick-prev, .terms-slider .slick-next {
  top: 1%; }

.not-found-items {
  text-align: center; }

p.not-found-items {
  margin: 30px 0; }

.offers-table tbody > tr > td {
  padding: 15px 25px; }

.providers-table.tablet td, .providers-table.tablet th {
  text-align: center; }

.providers-table.tablet .hidden-row td {
  text-align: left; }

.providers-table.tablet .btn-row td {
  padding: 22px 25px; }

.providers-table.tablet .plan-description {
  text-align: left; }

.providers-table.mobile {
  display: none; }
  .providers-table.mobile .slide-cell .middle-text {
    display: block;
    position: relative;
    padding-right: 15px;
    float: left;
    width: 100%; }
  .providers-table.mobile .plan-description .plus-list {
    padding-left: 0; }

.offers-navigation {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .offers-navigation .form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.tab-offers li {
  border-radius: 3px;
  margin-right: 15px; }
  .tab-offers li.active > .btn-white {
    background-color: #fff;
    border: 1px solid  transparent;
    color: #50515d;
    -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
            box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07); }
    .tab-offers li.active > .btn-white:hover, .tab-offers li.active > .btn-white:active, .tab-offers li.active > .btn-white:focus {
      background-color: #fff;
      color: inherit; }
  .tab-offers li a {
    padding: 13px 38px; }
    .tab-offers li a:hover, .tab-offers li a:active, .tab-offers li a:focus {
      border-color: transparent;
      background-color: #fff;
      color: #50515d;
      -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
              box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07); }

.providers-table-slider {
  margin: 0;
  padding: 0;
  padding: 0 50px;
  margin-top: 0px; }
  .providers-table-slider .slick-slide {
    margin: 0 10px; }

.brand-list {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: auto; }

.select-wrap {
  display: inline-block;
  margin-left: 15px;
  position: relative; }
  .select-wrap:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #808080;
    position: absolute;
    right: 8px;
    top: 0px;
    bottom: 0;
    margin: auto;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: border-top-color ease-in-out 0.15s;
    transition: border-top-color ease-in-out 0.15s; }
  .select-wrap:hover .brand-list, .select-wrap:active .brand-list, .select-wrap:focus .brand-list {
    color: #50515d;
    border-color: transparent;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07);
            box-shadow: 0 10px 20px 0 rgba(62, 79, 109, 0.07); }
  .select-wrap:hover::after, .select-wrap:active::after, .select-wrap:focus::after {
    border-top-color: #333545; }

/*Tab Section end*/
.button-wrap {
  text-align: center; }
  .button-wrap .btn {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 280px;
    margin: 10px 20px 0 20px; }

.offers-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px; }

.flex-list {
  margin: 0 auto;
  padding: 0;
  margin: 0 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 40%;
  list-style: disc; }
  .flex-list li {
    position: relative;
    font-family: "RobotoMedium";
    color: #484848;
    font-size: 22px;
    line-height: 45px;
    letter-spacing: 0.4px;
    /* &:after {
       content: '●';
       position: absolute;
       left: 0;
       top: 0;
       font-size: 12px;
     }*/ }
    .flex-list li a {
      font-family: "RobotoMedium";
      color: #484848;
      font-size: 22px;
      line-height: 45px;
      letter-spacing: 0.4px; }

.information-section h2 {
  margin-top: 64px; }
  .information-section h2:first-child {
    margin-top: 0; }

.information-section p {
  margin-bottom: 30px; }

.information-section img {
  width: auto; }
  .information-section img.align-center {
    margin: 0 auto; }

.nearby-offers {
  padding-bottom: 0; }

.nearby-offers-list li {
  line-height: 1; }
  .nearby-offers-list li:after {
    line-height: 39px; }
  .nearby-offers-list li a {
    font-family: "RobotoMedium";
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0.6px;
    color: #0083b7;
    padding-bottom: 3px;
    border-bottom: 1px solid #12adea; }
  .nearby-offers-list li:after {
    font-size: 12px; }

footer {
  margin-top: 45px; }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 930px) {
  .container {
    width: 900px; } }

@media (min-width: 992px) {
  .container {
    width: 960px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (max-width: 1200px) {
  .inner-title {
    width: 85%; }
  .inner-text {
    width: 65%; } }

@media (max-width: 992px) {
  h2, .information-section h2 {
    font-size: 32px; }
  .providers-table tbody > .hidden-row td {
    border-bottom: 0; }
  .intro-section .inner-block {
    padding-top: 3vh;
    padding-bottom: 0vh; }
  .inner-text {
    width: 75%; }
  .offer-section .providers-slider {
    padding: 0px 14%;
    margin-bottom: 30px; }
  .providers-slider .slick-prev {
    left: 7%; }
  .providers-slider .slick-next {
    right: 7%; }
  .providers-table tbody > tr > td {
    padding: 40px 25px; }
  .flex-list {
    margin: 0 23px; }
  .nearby-offers .flex-list:first-child {
    margin-left: 23px;
    margin-right: 30px; }
  .nearby-offers .flex-list:last-child {
    margin-left: 23px;
    margin-right: 0px; }
  .flex-list li, .flex-list li a {
    font-size: 18px;
    line-height: 41px; }
  .offers-table tbody > tr > td {
    padding: 15px 25px; }
  .offers-table tbody > tr.hidden-md.hidden-lg td {
    padding: 43px 25px 27px; }
  .offers-navigation {
    display: block; }
    .offers-navigation .tab-offers {
      display: inline-block;
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid #d7d7d7; }
      .offers-navigation .tab-offers li:last-child {
        margin-right: 0; }
    .offers-navigation .select-wrap {
      margin-left: 0; }
    .offers-navigation .loader {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 15px; }
    .offers-navigation.simple .tab-offers {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; } }

@media (max-width: 767px) {
  section {
    font-size: 14px;
    letter-spacing: 1.2px; }
  .container {
    padding-left: 30px;
    padding-right: 30px; }
  h2 {
    font-size: 30px;
    letter-spacing: 1.1px;
    line-height: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px; }
    h2:after {
      bottom: 0; }
  .information-section h2 {
    margin-top: 40px;
    margin-bottom: 30px; }
  .inner-title {
    font-size: 30px; }
  .inner-text {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px; }
  .zip-code-form .form-group {
    display: inline-block; }
  .breadcrumb li a {
    font-size: 18px; }
  .offers-list-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    margin: 0 auto; }
  .providers-table.hidden-xs {
    visibility: hidden;
    display: none; }
  .providers-table.tablet {
    margin: 0px 0;
    margin-bottom: 30px; }
  .flex-list li, .flex-list li a {
    font-size: 22px;
    line-height: 45px;
    letter-spacing: 0px; }
  .flex-list {
    max-width: 100%; }
  .nearby-offers .flex-list {
    max-width: calc(50% - 45px); }
  .tab-offers {
    margin: 0 63px; }
    .tab-offers li:last-child {
      margin-right: 0; }
    .tab-offers li a {
      padding: 13px 35px; }
  .offers-navigation {
    margin-bottom: 30px; }
    .offers-navigation .tab-offers {
      margin-top: -20px;
      margin-bottom: 25px; }
    .offers-navigation .form-inline {
      margin: 0 63px; }
      .offers-navigation .form-inline .form-group {
        display: inline-table;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .offers-navigation .form-inline .loading {
        margin-bottom: 20px; }
    .offers-navigation .loader {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
  .offers-navigation .tab-offers {
    margin-top: 0px; }
  .nearby-offers .offers-list-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .nearby-offers .flex-list li a {
    font-size: 16px;
    line-height: 39px;
    letter-spacing: 0.6px; } }

@media (max-width: 748px) {
  .offers-list-wrap {
    width: 100%; }
  .tab-offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -20px; }
    .tab-offers li {
      width: 247px;
      margin: 20px 0 0 0; }
  .offers-navigation {
    margin-top: -20px; }
    .offers-navigation .tab-offers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 0;
      position: relative; }
      .offers-navigation .tab-offers:after {
        content: '';
        position: absolute;
        display: block;
        height: 1px;
        width: 30%;
        bottom: 0;
        background-color: #d7d7d7;
        margin: 0 auto;
        left: 0;
        right: 0; }
    .offers-navigation .form-inline {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .offers-navigation .form-inline .btn-white {
        margin-bottom: 20px; }
      .offers-navigation .form-inline .btn-white, .offers-navigation .form-inline .brand-list {
        width: 247px; }
    .offers-navigation.simple .tab-offers:after {
      display: none; }
  .brand-list {
    margin-left: 0; } }

@media (max-width: 600px) {
  .providers-table.tablet {
    display: none; }
  .providers-table.mobile {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .offer-section .slick-active.slick-center {
    -webkit-transform: none;
            transform: none; }
  .providers-table {
    margin: 0px 0;
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  h2, .information-section h2 {
    font-size: 22px;
    line-height: 26px;
    width: 100%; }
  section {
    padding: 30px 0 30px 0; }
  .btn-green, .btn-orange {
    padding: 14px 25px; }
  .inner-block .zip-code-form .form-inline {
    display: block; }
  .inner-block .zip-code-form .btn-green {
    margin: 10px 0;
    width: 180px;
    display: block; }
  .intro-section .inner-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .inner-title {
    width: 100%;
    font-size: 20px; }
  .inner-text {
    width: 100%; }
  .breadcrumb {
    text-align: center;
    margin-top: 20px; }
    .breadcrumb li a {
      font-size: 14px; }
  .providers-slider .slick-prev {
    left: 0; }
    .providers-slider .slick-prev:before {
      margin: 0px 17px; }
  .providers-slider .slick-next {
    right: 0; }
  .providers-slider .slick-prev,
  .providers-slider .slick-next {
    width: 40px;
    height: 40px; }
    .providers-slider .slick-prev:before,
    .providers-slider .slick-next:before {
      width: 10px;
      height: 10px; }
  .provider-count {
    margin-top: 0px;
    margin-bottom: 15px; }
  .providers-table-slider {
    padding: 0 20px; }
    .providers-table-slider .slick-prev, .providers-table-slider .slick-next {
      width: 20px;
      height: 40px;
      background-color: transparent; }
      .providers-table-slider .slick-prev:before, .providers-table-slider .slick-next:before {
        width: 15px;
        height: 15px;
        border-color: #333;
        margin: 0 -3px; }
    .providers-table-slider .slick-prev:before {
      margin: 0 8px; }
  .providers-table.terms-table tbody > tr > td:last-child {
    text-align: center; }
  .providers-table tbody > tr > td {
    padding: 35px 25px; }
  .providers-table .big-text {
    font-size: 20px; }
  .providers-table .big-text .number {
    font-size: 32px; }
  .btn-green.btn-big,
  .btn-orange.btn-big {
    min-width: 290px;
    max-width: 290px;
    white-space: pre-line; }
  .map {
    margin-bottom: 20px; }
  .flex-list li, .flex-list li a {
    font-size: 14px;
    line-height: 32px; }
  .btn-green, .btn-orange {
    font-size: 14px; }
  .button-wrap .btn {
    margin-right: 0;
    margin-left: 0; }
  .nearby-offers .flex-list li a {
    font-size: 14px;
    line-height: 26px; }
  .nearby-offers .flex-list li {
    margin-bottom: 5px; }
  footer {
    margin-top: 30px; } }

.modal-header {
  text-align: center; }

.modal-footer .btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px; }
